<div class="sidebar" data-color="purple" data-background-color="white" data-image="/img/sidebar-background.jpg">
    <div class="logo">
        <a href="/" class="simple-text logo-normal">
            Cầu Sông Hiếu
        </a>
        <a href="/" class="simple-text logo-normal">
            Tỉnh Quảng Trị
        </a>
    </div>
    <div class="sidebar-wrapper ps-container ps-theme-default" data-ps-id="cb82e426-248c-55be-88db-dbffd97737bb">
        <ul class="nav sidebar-nav">
            <li class="nav-item dropdown {{#ifeq activeNavItem 'tong-quan'}}active{{/ifeq}}">
                <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">dashboard</i>
                    <p>Tổng quan</p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink" x-placement="bottom-end" style="position: absolute; top: 50px; left: 74px; will-change: top, left;">
					<a class="dropdown-item" href="/tong-quan/ung-suat">Ứng Suất</a>
					<a class="dropdown-item" href="/tong-quan/luc">Lực</a>
					<a class="dropdown-item" href="/tong-quan/nhiet-do">Nhiệt Độ</a>
					<a class="dropdown-item" href="/tong-quan/gia-toc">Gia Tốc</a>
					<a class="dropdown-item" href="/tong-quan/moi-truong">Môi Trường</a>
				</div>
            </li>
            <li class="nav-item {{#ifeq activeNavItem 'bang-bieu'}}active{{/ifeq}}">
                <a class="nav-link" href="/bang-bieu">
                <i class="material-icons">list_alt</i>
                <p>Bảng biểu</p>
                </a>
            </li>
			<li class="nav-item dropdown {{#ifeq activeNavItem 'bieu-do-cam-bien'}}active{{/ifeq}}">
                <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">sensors</i>
                    <p>Biểu Đồ Cảm Biến</p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink" x-placement="bottom-end" style="position: absolute; top: 50px; left: 74px; will-change: top, left;">
					<a class="dropdown-item" href="/bieu-do-cam-bien/ung-suat">Ứng Suất</a>
					<a class="dropdown-item" href="/bieu-do-cam-bien/luc">Lực</a>
					<a class="dropdown-item" href="/bieu-do-cam-bien/nhiet-do">Nhiệt Độ</a>
					<a class="dropdown-item" href="/bieu-do-cam-bien/gia-toc">Gia Tốc</a>
					<a class="dropdown-item" href="/bieu-do-cam-bien/moi-truong">Môi Trường</a>
				</div>
            </li>
            <li class="nav-item {{#ifeq activeNavItem 'bao-cao'}}active{{/ifeq}}">
                <a class="nav-link" href="/bao-cao">
                <i class="material-icons">content_paste</i>
                <p>Báo cáo</p>
                </a>
            </li>
            <li class="nav-item active-pro ">
                <a class="nav-link text-center" href="#">
                    <img src="/img/logo.jpg" class="img-fluid image-zoom" width="50px" alt="Cầu Rồng">
                    <p>Version 3.0</p>
                    <p>Copyright ©2021</p>
                    <p>All rights reserved | This template is made by STIC</p>
                </a>
            </li>
        </ul>
    <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; right: 0px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div>
<div class="sidebar-background" style="background-image: url(http://caurong.quantraccongtrinh.com.vn/img/sidebar-1.jpg) "></div></div>