<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header card-header-primary">
						<h4 class="card-title ">Nhiệt Độ Dây Văng</h4>
					</div>
					<div class="card-body text-center">
						<img src="/img/nhiet-do.jpg" class="img-fluid image-zoom" alt="Cầu Sông Hiếu">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>