<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header card-header-tabs card-header-primary">
						<h4 class="card-title mb-2">Ứng Suất</h4>
						<div class="nav-tabs-navigation">
							<div class="nav-tabs-wrapper">
								<ul class="nav nav-tabs" data-tabs="tabs">
									<li class="nav-item">
										<a class="nav-link active show" href="#ustt" data-toggle="tab">
											Trụ Tháp
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#usmc" data-toggle="tab">
											Mặt Cầu
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="card-body text-center">
						<div class="tab-content">
							<div class="tab-pane active show" id="ustt">
								<img src="/img/ung-suat-tru-thap.jpg" class="img-fluid image-zoom" alt="Ứng Suất (Trụ Tháp)">
							</div>
							<div class="tab-pane" id="usmc">
								<img src="/img/ung-suat-mat-cau.jpg" class="img-fluid image-zoom" alt="Ứng Suất (Mặt Cầu)">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>