<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header card-header-tabs card-header-primary">
						<h4 class="card-title mb-2">Ứng Suất</h4>
						<div class="nav-tabs-navigation">
							<div class="nav-tabs-wrapper">
								<ul class="nav nav-tabs" data-tabs="tabs">
									<li class="nav-item">
										<a class="nav-link active show" href="#ustt" data-toggle="tab">
											Trụ Tháp
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#usmc" data-toggle="tab">
											Mặt Cầu
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="card-body text-center">
						<div class="tab-content">
							<div class="tab-pane active show" id="ustt">
								<img id="ustt-img" src="/img/ung-suat-tru-thap.jpg" class="img-fluid image-zoom" alt="Ứng Suất (Trụ Tháp)">
							</div>
							<div class="tab-pane" id="usmc">
								<img id="usmc-img" src="/img/ung-suat-mat-cau.jpg" class="img-fluid image-zoom" alt="Ứng Suất (Mặt Cầu)">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document" style="max-width:1140px">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		  {{!-- <div class="table-responsive">
			<table class="table">
				<thead class="text-primary">
					<tr>
						<th class="text-center">Ký hiệu</th>
						<th class="text-center">Giá trị (Mpa)</th>
						<th class="text-center">Trạng thái</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="text-center" id="kyhieu-modal-table">Ungsuat1</td>
						<td class="text-center">
							<span style="font-size: 0.7rem">Max: 310.5</span><br />
							3446.93 Mpa<br />
							<span style="font-size: 0.7rem">Min: -310.5</span>
						</td>
						<td class="text-center" style="color:#238636;font-weight:bold">Bình thường</td>
					</tr>
				</tbody>
			</table>
		  </div> --}}
        <div id="line-chart"></div>
		<div id="ndbt-line-chart"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>