<div class="content">
  <div class="container-fluid">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-9">
	<div class="card card-chart">
            <div class="card-header card-header-primary">
              <h4 class="card-title">Xuất báo cáo</h4>
			  <p class="card-category">Tùy chọn báo cáo theo ngày, tháng hay tùy chỉnh</p>
            </div>

            <div class="card-body">
              <div class="row">
				  <div class="col-5">
					  <div class="form-group">
						  <label for="dateRangeOptions">Tùy chọn</label> <br>
						  <div class="form-check form-check-radio form-check-inline">
						<label class="form-check-label">
							<input class="form-check-input" type="radio" name="inlineRadioOptions" id="dayRadio" value="day" checked> Ngày
							<span class="circle">
								<span class="check"></span>
							</span>
						</label>
						</div>
						<div class="form-check form-check-radio form-check-inline">
						<label class="form-check-label">
							<input class="form-check-input" type="radio" name="inlineRadioOptions" id="monthRadio" value="month"> Tháng
							<span class="circle">
								<span class="check"></span>
							</span>
						</label>
						</div>
						<div class="form-check form-check-radio form-check-inline">
						<label class="form-check-label">
							<input class="form-check-input" type="radio" name="inlineRadioOptions" id="customDateRangeRadio" value="customDateRange"> Tùy chỉnh
							<span class="circle">
								<span class="check"></span>
							</span>
						</label>
						</div>
					  </div>
				  </div>
				  <div class="col-7">
					  <div class="row">
						  <div class="col">
							<label for="fromDate">Từ ngày</label>
							<input class="form-control" type="date" id="fromDate" name="fromDate">
						  </div>
						  <div class="col">
							<label for="toDate">Đến ngày</label>
							<input class="form-control" type="date" id="toDate" name="toDate">
						  </div>
					  </div>
				  </div>
			  </div>

			  {{!-- <div class="row">
				  <div class="col">
					  <div class="form-group">
						<label>Hiển thị biểu đồ</label>
						<div class="togglebutton">
							<label>
								<input type="checkbox">
								<span class="toggle"></span>
								<span id="chartDisplayLabel">Không</span>
							</label>
						</div>
					  </div>
				  </div>
			  </div>

			  <div id="report-chart"></div> --}}
            </div>

			<div class="card-footer" style="display: flex;justify-content:flex-end">
				<a class="btn btn-primary text-white">
					<i class="material-icons" style="font-size: 1.4rem;">print</i>
					Xuất báo cáo
				</a>
			</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>